<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="contet-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
        <title>Cadastro</title>
    </head>
    <body>
        <h1>Cadastre-se</h1>
        <form action="./signupUser" method="POST" accept-charset="utf-8">
            <label for="email">Digite o seu email:</label>
            <input type="email" name="email" value="" required="required" />
            <label for="username">Digite o nome de usuario:</label>
            <input type="text" name="username" value="" required="required" />
            <label for="senha">Digite sua senha:</label>
            <input type="password" name="senha" value="" required="required" />
            <input type="submit" name="cadastrar" value="Cadastrar" />
        </form>

        <script>
            function checkCadastro(cadastro){
                if(cadastro === 1){
                    alert('Email ja cadastrado. Por favor use outro email.');
                }
                if(cadastro === 2){
                    alert('Usurname ja cadastrado. Por favor use outro username.');
                }
            }
            window.onload = checkCadastro({{cadastro}});
        </script>
    </body>
</html>