<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="contet-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
        <title>Cadastro de Musicas</title>
    </head>
    <body>
        <h1>Cadastre uma musica</h1>
        <form action="./cadastro" method="POST" accept-charset="utf-8">
            <label for="title">Digite o nome da musica que deseja cadastrar:</label>
            <input type="text" name="title" value="" required="required" />
            <label for="band">Digite o nome da banda:</label>
            <input type="text" name="band" value="" required="required" />
            <label for="url">Digite o url da musica:</label>
            <input type="text" name="url" value="" required="required" />
            <input type="submit" name="cadastrar" value="Cadastrar" />
        </form>
    </body>
</html>