<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="contet-type" content="text/html; charset=utf-8" />
        <title>Login</title>
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST" accept-charset="utf-8">
            <label for="username">Username:</label>
            <input type="text" name="username" value="" required="required" />
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" value="" required="required" />
            <input type="submit" name="entrar" value="Entrar" />
        </form>
        <a href="/cadastroUser">Cadastre-se</a>
    </body>
</html>