<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="contet-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
        <title>Pagina de Busca</title>
    </head>
    <body>
        <h1>Pagina de Busca</h1>
        <form action="./musica" method="GET" accept-charset="utf-8">
            <label for="busca">Digite o nome da musica que deseja buscar:</label>
            <input type="text" name="busca" value="" />
            <input type="submit" name="buscar" value="Buscar" />
        </form>

        <table>
            <tr>
                <th>Nome da banda/artista</th>
                <th>Nome da musica</th>
                <th>Url da musica no vagalume</th>
            </tr>
            {{#musicas}}
                <tr>
                    <td>{{band}}</td>
                    <td>{{title}}</td>
                    <td>{{url}}</td>
                </tr>
            {{/musicas}}
        </table>
    </body>
</html>